@import './../../variables.scss';

.appList-container {
  background-color: $grey-light;
  height: 100%;
  min-width: 70%;
  padding: 20px 20px 0px 20px;
  text-align: right;
}

.app-listing-display {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  max-height: 80%;
  padding-bottom: 20px;
}

.appList-title {
  color: $blue-med;
  text-transform: uppercase;
  text-align: center;
}

.appList-btn-add {
  background-color: $blue-med;
  border: 1px solid $blue-med;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 15px 0px 25px 0px;
  text-align: right;
  // flex: 1;
  order: 3;

    &:hover {
        background-color: $blue-dark;
        cursor: pointer;
    }
}

.summary-btn-mobile, .apps-btn-mobile {
    display: none;
}

.appList-buttons {
  display: flex;
  justify-content: space-between;
  
  .blank-space {
    flex: 2;
  }
}

.dropdown {
  margin: 0 1em;
  overflow: hidden;
  float: left;
}

.filter-heading {
  font-size: 22px;
  padding: 23px 20px;
  color: $grey-med;
}

.dropbtn {
  border: 2px solid $grey-med;
  cursor: pointer;
  color: $grey-med;
  padding: 7.5px 15px;
  font-size: 20px;
  font-family: inherit;
  margin-top: 15px;
  text-transform: lowercase;
  width: 200px;
  text-align: left;

  .dropIcon {
    float: right;
    color: $blue-med;
  }
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  z-index: 1;

  &-btn {
    float: none;
    display: block;
    border: 1px solid $grey-med;
    cursor: pointer;
    color: $grey-med;
    padding: 10px 15px;
    font-size: 20px;
    font-family: inherit;
    text-transform: lowercase;
    width: 200px;
    text-align: left;

    &:hover {
      background-color: $blue-med;
      color: white;
    }
  }
}

@media (max-width: $screen-s) {
    .appList-title {
        font-size: 24px;
    }

    .appList-container {
        position: relative;

        button.appList-btn-add {
            margin-top: 20px;
        }
    }
  }

  @media (max-width: $screen-xs) {
    

    .appList-btn-add {
        font-size: 16px;
        padding: 5px 10px;
        margin: 10px 0px 15px 0px;
    }
  }

