@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $green-med;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full-app {
  padding: 25px;
  padding-top: 0;
  border-radius: 3px;
  overflow: hidden;
  height: 85vh;
  
}