
$white: #FFFFFF;

$green-med: #33EFC2;
$green-med2: rgb(0, 213, 163);

$blue-light: rgb(170, 168, 250);
$blue-light-alt: rgb(104, 102, 252);

$blue-med: #3F3BFC;
$blue-med-op: rgba(62, 59, 252, 0.95);
$blue-dark: rgb(31, 28, 211);

$grey-light: #F8F6F6;
$grey-light-alt: rgb(213, 213, 213);
$grey-med: #A49D9D;
$grey-med2: #706565;

$font-main: 'Montserrat', sans-serif;




$screen-s: 575px;
$screen-m: 768px;
$screen-lg: 991px;
$screen-xl: 1199px;