@import './../../variables.scss';

@media only screen and (max-width: 700px) {
    .app-expanded {
        flex-direction: column;
    }
    .app-status-list {
        flex: 1;
    }
    .app-notes {
        flex: 1;
    }
    .app-status-list {
        width: 100%;
    }
}

.app-expanded {
    display: flex;
    padding: 15px;
    box-shadow: inset 0px 0px 10px rgba(232, 231, 231, 0.774);
    border-top: 1px solid rgba(213, 213, 213, 0.192);

}

.app-expanded-hidden {
    display: none; 
    padding-top: 30px;
}

.app-notes {
    // flex-grow: 1;
    max-width: 400px;
    // border-left: 1px dashed rgba(205, 204, 204, 0.53);
    
    // padding-left: 25px;

    &-title {
        // text-transform: uppercase;
        color: $blue-med-op;
        // font-weight: 400;
        line-height: 1.75;
        font-size: 22px;
    }

    &-content {
        color: $grey-med2;
        font-size: 12px;
    }
}