@import './../../variables.scss';


.dev-img {
width: 100%;
padding: 10px;
}

.summary-container {
    background: $white;
    height: 100%;
    min-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  .summary {
    color: $green-med;
    text-transform: uppercase;
    text-align: center;
  }

  .summary-stats {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // width: 100%;
    max-width: 300px;
    color: darkgray;
    margin: 70px auto;

  }

  .summary-row {
    display: flex;
    width: 100%;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .summary-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    width: 180px;
    text-align: left;
  }

  .summary-percentage,
  .summary-count {
    width: 50px;
  }

  .summary-count {
    color: #3f3bfc;
    font-size: 18px;
    font-weight: bold;
  }

  .summary-percentage {
    font-weight: bold;
  }

}

.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin-top: 50px;
}

.summary-title {
    color: $green-med;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: $screen-m) {
    .dev-img-container {
        width: 250px;
        margin: 0 auto;
        }
    
    .summary-container {
        width: 100%;
        // height: 80%;
        display: block;

        .summary-stats {
            // max-width: 300px;
            margin: 30px auto;
        }

    
    }

    .summary-content {
        display: block;
        
        // flex-direction: column;
        // justify-content: space-between;
        // height: 85%;
        // margin-top: 50px;
    }
}

@media (max-width: $screen-s) {
    .summary-title {
        font-size: 24px;
    }

    .summary-container {
        display: none;
    }
}
