@import './../../variables.scss';

header {
	display: flex;
	font-size: 20px;
	justify-content: space-between;
	color: white;
	padding: 25px;
	text-transform: uppercase;
 
	.user {
		display: inline-block;
		padding: 0.5em 1em;

	}

	.username {
		font-size: 20px;
		display: inline-block;
		padding-left: 10px;
	}

  .logout-btn {
    background-color: $green-med;
    border: 3px solid white;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 3px;

    &:hover {
      background-color: $green-med2;
      border-color: $green-med2;
      cursor: pointer;
    }
  }
}

@media (max-width: $screen-m) {
  header {
    display: block;
    padding: 15px;
    text-align: center;
    height: 10vh;

    h1 {
      font-size: 1.75em;
    }

    .logout-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 14px;
      border: 2px solid white;
    }
    
    
  }
}

@media (max-width: $screen-s) {
  header {
    // display: block;
    // padding: 15px;
    // text-align: center;
    
    // .username {
    //   font-size: 12px;
    // }

    // .logout-btn {
    //   font-size: 16px;
    //   padding: 5px 10px;
    //   border: 2px solid white;
    // }
    
  }
}

@media (max-width: $screen-xs) {
  header {
    // display: block;
    // padding: 15px;
    // text-align: center;

    h1 {
      font-size: 1.25em;
    }
    
    .username, .user {
      display: none;
    }

    .logout-btn {
      font-size: 16px;
      padding: 5px 10px;
      border: 2px solid white;
    }
    
  }
}