@import './../../variables.scss';

.appList-container {
    background-color: $grey-light;
    height: 100%;
    // width: 60%;
    flex-grow: 2;
    padding: 20px;
    text-align: right;
    overflow: auto;
    border-radius: 3px;
}

.appList-title {
    color: $blue-med;
    text-transform: uppercase;
    text-align: center;
}

.appList-btn-add {
    background-color: $blue-med;
    border: 1px solid $blue-med;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 15px 0px 25px 0px;
    text-align: right;

    &:hover {
        background-color: $blue-dark;
        cursor: pointer;
    }
}