@import './../../variables.scss';

@media only screen and (max-width: 700px) {
  .header {
    font-size: 22px;
    align-self: center !important;
    flex: 4;
  }

  .username {
    flex: 1;
    font-size: 15px;
    align-self: center;
    font-weight: 600;
  }
  .logout-btn {
    flex: 1.5;
    font-size: 13px !important;
    padding: 0em !important;
    margin-left: 0.5em !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1083px) {
  .header {
    font-size: 30px;
    flex: 3;
  }
  .username {
    flex: 1;
    align-self: center;
  }
  .logout-btn {
    flex: 1;
  }
}

header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  color: white;
  padding: 25px;

  .logout-btn {
    background-color: $green-med;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 0.5em 1em;
    border-radius: 3px;

    &:hover {
      background-color: $green-med2;
      border-color: $green-med2;
      cursor: pointer;
    }
  }
}
