@import './../../variables.scss';

header {
	display: flex;
	font-size: 20px;
	justify-content: space-between;
	color: white;
	padding: 25px;
	text-transform: uppercase;
 
	.user {
		display: inline-block;
		padding: 0.5em 1em;

	}

	.username {
		font-size: 20px;
		display: inline-block;
		padding-left: 10px;
	}

  .logout-btn {
    background-color: $green-med;
    border: 3px solid white;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 3px;

    &:hover {
      background-color: $green-med2;
      border-color: $green-med2;
      cursor: pointer;
    }
  }
}

@media (max-width: $screen-m) {
  header {
    display: block;
    padding: 15px;
    text-align: center;

    h1 {
      font-size: 1.75em;
    }
    
    
  }
}