

.signup {
  background: lightgreen;
  form {
    background: lightgray;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    label, input {
      margin: 0.25em auto;
    }
    label {
      width: 50%;
      font-size: 1em;
    }
    input {
      padding: 0.1em 0.5em;
      border: none;
      border-radius: 5px;
      width: 50%;
      font-size: 1em;
    }
    button {
      border: 1px solid lightgreen;
      background: white;
      border-radius: 10px;
      padding: 0.25em 0.5em;
      width: 5em;
      margin: 2em auto;
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
        background: lightgreen;
        border: 1px solid white;
      }
    }
  }
  
}