@import './../../variables.scss';

.login {
<<<<<<< HEAD
	height: 90vh;
	margin: 0 1rem;
	// background-color: $grey-light;
	background-color: white;
	color: $blue-med;
	padding: 15px 0px;
	font-size: 24px;


	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;

	padding: 25px;
	&-forms {
		background: $grey-light;
		margin: auto 0;
		height: 80%;
		width: 25rem;
	}
	&-forms-heading {
		text-align: center;
		background: $blue-med;
		color: white;
		padding: 0.5em 1em;
	}

	form {
		border: 2px solid $blue-med;
		padding: 50px;
		height: 423.15px;
		position: relative;
=======
	background-color: $grey-light;
	color: $blue-med;
	text-transform: uppercase;
	padding: 15px 0px;
	font-size: 24px;
	height: 15%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;

	padding: 25px;

	height: 85%;

	form {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: right;
>>>>>>> staging

		span {
			color: red;
			font-size: 12px;
			height: 25px;
			text-align: center;
		}

		label {
			color: $blue-med;
			font-weight: 700;
			font-size: 20px;
			text-align: left;
<<<<<<< HEAD
			margin: 0;
		}

		input {
			margin-bottom: 0.5em;
			width: 100%;
			font-size: 16px;
			padding: 10px;
=======
		}

		input {
			width: 100%;
			font-size: 16px;
			padding: 10px;
			margin: 10px 0px 20px 0px;
>>>>>>> staging
			border: 1px solid $grey-med;
			border-radius: 3px;
			color: $grey-med;
			font-family: $font-main;

			&:focus {
				border: 1px solid $blue-med;
				outline: none;
			}
		}

<<<<<<< HEAD
		input[type='submit'] {
=======
		.login-submit {
>>>>>>> staging
			background-color: $green-med;
			border: 1px solid $green-med;
			text-transform: uppercase;
			color: white;
			font-weight: 700;
			font-size: 20px;
			padding: 10px 15px;
			border-radius: 3px;
			width: 150px;
<<<<<<< HEAD
			position: absolute;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 2.5em;
			margin-bottom: 1.25em;

			&:hover {
				background-color: $green-med2;
				border-color: $green-med2;
				cursor: pointer;
			}
=======
			margin: 0 auto;

			// &:hover {
			// 	background-color: $green-med2;
			// 	border-color: $green-med2;
			// 	cursor: pointer;
			// }
>>>>>>> staging
		}
	}
}

<<<<<<< HEAD
button {
=======
.login-submit {
>>>>>>> staging
	background-color: rgb(46, 213, 243);
	border: 1px solid rgb(46, 213, 243);
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 15px;
<<<<<<< HEAD
	border: 1px solid $green-med;;
	width: 150px;
	margin: 0 auto;
	padding: 1px;
=======
	// padding: 10px 15px;
	// border-radius: 3px;
	width: 150px;
	margin: 0 auto;
	border-radius: 100px;
>>>>>>> staging

	&:hover {
		background-color: $green-med2;
		border-color: $green-med2;
		cursor: pointer;
	}
}
<<<<<<< HEAD

.redirect {
	border: none;
	background: none;
	color: $blue-med;
	font-size: 0.60em;
	display: block;
	width: 100%;
	font-weight: 100;
	text-transform: none;
	text-align: left;

}

.login-landing-page {
	padding: 4rem 0;
	width: 60%;
	display: flex;
	flex-direction: column;

	&-main {
		width: 10em;
		margin: 0.5em auto;
	}

	&-sub {
		display: flex;
		width: 70%;
		margin: auto;
		font-size: 0.75em;
		color: $grey-med;
		text-align: center;

		.icon {
			color: $blue-med;
			font-size: 2em;
			margin: auto;
		}

		p {
			padding-top: 1em;
			padding-left: 0.5em;
		}
	}

}
=======
>>>>>>> staging
