@import './../../variables.scss';

.login {
	height: 90vh;
	margin: 0 1rem;
	// background-color: $grey-light;
	background-color: white;
	color: $blue-med;
	padding: 15px 0px;
	font-size: 24px;


	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;

	padding: 25px;
	&-forms {
		background: $grey-light;
		margin: auto 0;
		height: 85%;
		width: 25rem;
	}
	&-forms-heading {
		text-align: center;
		background: $blue-med;
		height: 13%;
		color: white;
		// padding: 0.5em 1em;
		padding: 0.3em;
	}

	form {
		border: 2px solid $blue-med;
		padding: 50px;
		height: 87%;
		position: relative;

		span {
			color: red;
			font-size: 12px;
			height: 25px;
			text-align: center;
		}

		label {
			color: $blue-med;
			font-weight: 700;
			font-size: 20px;
			text-align: left;
			margin: 0;
		}

		input {
			margin-bottom: 0.5em;
			width: 100%;
			font-size: 16px;
			padding: 10px;
			border: 1px solid $grey-med;
			border-radius: 3px;
			color: $grey-med;
			font-family: $font-main;

			&:focus {
				border: 1px solid $blue-med;
				outline: none;
			}
		}

		input[type='submit'] {
			background-color: $green-med;
			border: 1px solid $green-med;
			text-transform: uppercase;
			color: white;
			font-weight: 700;
			font-size: 20px;
			padding: 10px 15px;
			border-radius: 3px;
			width: 150px;
			position: absolute;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 2.5em;
			margin-bottom: 1.25em;

			&:hover {
				background-color: $green-med2;
				border-color: $green-med2;
				cursor: pointer;
			}
		}
	}
}

button {
	background-color: rgb(46, 213, 243);
	border: 1px solid rgb(46, 213, 243);
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 15px;
	border: 1px solid $green-med;;
	width: 150px;
	margin: 0 auto;
	padding: 1px;

	&:hover {
		background-color: $green-med2;
		border-color: $green-med2;
		cursor: pointer;
	}
}

.redirect {
	border: none;
	background: none;
	color: $blue-med;
	font-size: 0.60em;
	display: block;
	width: 100%;
	font-weight: 100;
	text-transform: none;
	text-align: left;

}

.login-landing-page {
	padding: 4rem 0;
	width: 60%;
	display: flex;
	flex-direction: column;

	&-main {
		width: 10em;
		margin: 0.5em auto;
	}

	&-sub {
		display: flex;
		width: 70%;
		margin: auto;
		font-size: 0.75em;
		color: $grey-med;
		text-align: center;

		.icon {
			color: $blue-med;
			font-size: 2em;
			margin: auto;
		}

		p {
			padding-top: 1em;
			padding-left: 0.5em;
		}
	}

}
