@import './../../variables.scss';

.login {
	height: 100%;
	background-color: white;
	color: $blue-med;
	padding: 15px 0px;
	font-size: 24px;
	border-radius: 3px;


	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;

	padding: 25px;

	&-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


	&-forms {
		background: $grey-light;
		margin: auto 0;
		height: 84%;
		width: 36%;
		border-radius: 3px;
		overflow: hidden;
	}
	&-forms-heading {
		text-align: center;
		background: $blue-med;
		height: 16%;
		color: white;
		text-transform: uppercase;
		font-size: 1.5em;
		padding: 22px;
	}

	form {
		border: 2px solid $blue-med;
		height: 84%;
		position: relative;
		padding: 2.25em;

		.error {
			color: red;
			font-size: 12px;
			height: 25px;
			text-align: center;
		}

		label {
			color: $blue-med;
			font-weight: 700;
			font-size: 19px;
			text-align: left;
			margin-bottom: 4px;
		}

		input {
			margin-bottom: 0.75em;
			width: 100%;
			font-size: 14px;
			padding: 10px;
			height: 2.25em;
			border: 1px solid $grey-med;
			border-radius: 3px;
			color: $grey-med;
			font-family: $font-main;

			&:focus {
				border: 1px solid $blue-med;
				outline: none;
			}
		}

		.login-submit {
			background-color: $green-med;
			border: 1px solid $green-med;
			text-transform: uppercase;
			color: white;
			font-weight: 700;
			font-size: 18px;
			padding: 0.5em 2em;
			border-radius: 3px;
			width: 150px;

			&:hover {
				background-color: $green-med2;
				border-color: $green-med2;
				cursor: pointer;
			}
		}

		.submit-button {
			text-align: right;
		}

	}
}

.redirect {
	color: $blue-med;
	font-size: 0.60em;
	display: block;
	width: 100%;
	font-weight: 100;
	text-transform: none;
	text-align: left;

	&-btn {
		border: none;
		background: none;

		&:hover {
			cursor: pointer;
		}
	}

}

.login-landing-page {
	padding: 4rem 0;
	width: 50%;
	display: flex;
	flex-direction: column;

	&-main {
		width: 10em;
		margin: 0.5em auto;
	}

	&-sub {
		display: flex;
		width: 70%;
		margin: auto;
		font-size: 0.75em;
		color: $grey-med;
		text-align: center;

		.icon {
			color: $blue-med;
			font-size: 2em;
			margin: auto;
		}

		p {
			padding-top: 1em;
			padding-left: 0.5em;
		}
	}

}

@media (max-width: $screen-m) {
	.login {
		display: block;
		overflow: auto;
		padding: 0;

		.login-forms {
			width: 100%;

			&-heading {
				background-color: $grey-light;
				color: $blue-med;
				border-top: 2px solid rgba(213, 213, 213, 0.2);
				border-bottom: 2px solid rgba(213, 213, 213, 0.2);
				font-size: 24px;
				padding: 16px;
				height: 64px;
			}
			
			form {
				border: 0px;
				max-width: 500px;
				margin: auto;
				padding: 1.75em;

				.submit-button {
					text-align: center;
				}
			}
			
		}
	}
	
	.login-landing-page {
		width: 100%;
		padding: 40px 0;

		&-sub .icon {
			font-size: 1.5em;
		}

		&-main {
			width: 7em;
		}

		p {
			font-size: 14px;
		}
	}



}

