@import './../../variables.scss';

.app-listing {  
    background-color: white;
    border-left: 5px solid $blue-med;
    box-shadow: 0px 3px 3px #00000025;
    display: flex;
    padding: 15px;
    width: 100%;
}

.position, .company {
    display: inline-block;
    flex-grow: 1;
}

.position {
    font-size: 24px;
    font-weight: bold;
    color: #3F3BFC;
}

.company {
    font-size: 18px;
    padding: 3px 0;
    font-weight: 400;
    color: #706565;
}